#services {
  height: 120vh;
}

.services-content {
  width: 90%;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.services-content .card {
  width: 430px;
  height: 300px;
  border: 2px solid var(--base-color-light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 3rem 0 3rem 3rem;
}
.services-content .card .card-icon {
  width: 80px;
  height: 80px;
  border: 2px solid var(--base-color-blue);
  border-radius: 60%;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 5em;
  color: var(--base-color-blue);
}
.services-content .card .card-title {
  font-size: 3em;
  font-weight: 450;
}
.services-content .card .card-detail {
  font-size: 2.3em;
}
.services-content .card:hover {
  transform: scale(1.01, 1.01);
  transition: 1s ease;
}
.services-content .card:hover .card-icon {
  background-color: var(--base-color-blue);
  color: var(--base-color-white);
}

.latest-news-items {
  width: 100%;
  height: 80vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
}
.latest-news-items .news-single-item {
  position: relative;
  width: 26vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.latest-news-items .news-single-item img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}
.latest-news-items .news-single-item .news-small-item {
  width: 45%;
  height: 5rem;
  background-color: var(--base-color-light);
  border-radius: 50px;
  position: absolute;
  left: 24rem;
  bottom: 20rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 1.5rem;
  background-color: #0d6efd;
  color: #fff;
}
.latest-news-items .news-single-item .news-small-item img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
.latest-news-items .news-single-item .news-small-item h6 {
  font-size: 1.5em;
}
.latest-news-items .news-single-item h2 {
  font-size: 3.1em;
  font-weight: 500;
}
.latest-news-items .news-single-item p, .latest-news-items .news-single-item .footer-items .footer-single-item a, .footer-items .footer-single-item .latest-news-items .news-single-item a {
  font-size: 2.1em;
  color: #696a6b;
}

.latest-news-items .news-single-item:hover img {
  transform: scale(1.03);
  transition: 1s transform ease-in-out;
}
.latest-news-items .news-single-item:hover h2 {
  color: #0d6efd;
}

.team-single-item-text .team-social {
  display: none;
  color: #212529;
}
.team-single-item-text .team-social i:hover {
  color: #0d6efd;
}

.team-single-item-text:hover {
  background-color: #0d6efd;
  color: #fff;
  transition: 1s ease-in-out;
}
.team-single-item-text:hover .team-social {
  display: block;
  transition: 2s display ease-in-out;
}

#pricing {
  height: 120vh;
  background-color: #ebeff3;
}

.pricing-single-part {
  width: 100%;
  height: 80vh;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  align-items: center;
  justify-content: center;
  padding: 1 0 0 0;
}

.pricing-card {
  width: 25vw;
  height: 70vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  align-items: center;
  padding-top: 6rem;
  border-radius: 5px;
}
.pricing-card button, .pricing-card button:nth-of-type(2), .pricing-card button:nth-of-type(1) {
  color: #0d6efd;
  font-size: 2em;
  height: 4.5rem;
  background-color: #fff;
}
.pricing-card button:nth-of-type(1) {
  width: 15rem;
  border: 2px solid #0d6efd;
  border-radius: 50px;
}
.pricing-card button:nth-of-type(2) {
  width: 30rem;
  border: 1px solid #0d6efd;
  border-radius: 5px;
}
.pricing-card p, .pricing-card .footer-items .footer-single-item a, .footer-items .footer-single-item .pricing-card a {
  font-size: 2em;
  text-align: center;
  color: #696a6b;
}
.pricing-card .price p, .pricing-card .price .footer-items .footer-single-item a, .footer-items .footer-single-item .pricing-card .price a {
  display: inline;
}
.pricing-card .price p:nth-of-type(2), .pricing-card .price .footer-items .footer-single-item a:nth-of-type(2), .footer-items .footer-single-item .pricing-card .price a:nth-of-type(2) {
  font-size: 5em;
  font-weight: 500;
  color: #212529;
}
.pricing-card .card-element {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: unset;
  color: #696a6b;
}
.pricing-card .card-element div {
  font-size: 2em;
  padding-top: 1rem;
}
.pricing-card .card-element:nth-of-type(1) .card-element:nth-of-type((2 - 1)) > i:nth-of-type(1) {
  color: #0d6efd;
}
.pricing-card .card-element:nth-of-type(1) .card-element:nth-of-type((2 - 1)) > i:nth-of-type(2) {
  color: #0d6efd;
}
.pricing-card .card-element:nth-of-type(2) .card-element:nth-of-type((3 - 1)) > i:nth-of-type(1) {
  color: #0d6efd;
}
.pricing-card .card-element:nth-of-type(2) .card-element:nth-of-type((3 - 1)) > i:nth-of-type(2) {
  color: #0d6efd;
}
.pricing-card .card-element:nth-of-type(2) .card-element:nth-of-type((3 - 1)) > i:nth-of-type(3) {
  color: #0d6efd;
}
.pricing-card .card-element:nth-of-type(3) .card-element:nth-of-type((4 - 1)) > i:nth-of-type(1) {
  color: #0d6efd;
}
.pricing-card .card-element:nth-of-type(3) .card-element:nth-of-type((4 - 1)) > i:nth-of-type(2) {
  color: #0d6efd;
}
.pricing-card .card-element:nth-of-type(3) .card-element:nth-of-type((4 - 1)) > i:nth-of-type(3) {
  color: #0d6efd;
}
.pricing-card .card-element:nth-of-type(3) .card-element:nth-of-type((4 - 1)) > i:nth-of-type(4) {
  color: #0d6efd;
}

.pricing-card:hover {
  box-shadow: 2px #ebeff3;
}

.pricing-card button:hover {
  background-color: #0d6efd;
  color: #fff;
  transition: 1s ease-in-out;
}

.pricing-card button:active {
  background-color: #0d6efd;
  color: #fff;
  transition: 1s ease-in-out;
}

#contact > .sub-section-main {
  height: 60vh;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  margin-top: 10rem;
  padding-top: 10rem;
}
#contact > .sub-section-main .contact-items {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact > .sub-section-main .contact-items .contact-detail:hover {
  transform: scale(1.03, 1.03);
  transition: 0.8s ease;
}
#contact > .sub-section-main .contact-items .contact-detail {
  width: 90%;
  height: 120px;
  border: 2px solid #ebeff3;
  border-radius: 15px;
  display: flex;
  gap: 4rem;
  flex-wrap: nowrap;
  align-items: center;
  padding-left: 3rem;
  margin-bottom: 2rem;
}
#contact > .sub-section-main .contact-items .contact-detail .contact-detail-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0d6efd;
  text-align: center;
  padding: 11px;
  font-size: 3.5em;
  color: #fff;
}
#contact > .sub-section-main .contact-items .contact-detail .contact-detail-text h1 {
  color: #0d6efd;
  font-size: 3em;
  padding: 1rem 0;
}
#contact > .sub-section-main .contact-items .contact-detail .contact-detail-text p, #contact > .sub-section-main .contact-items .contact-detail .contact-detail-text .footer-items .footer-single-item a, .footer-items .footer-single-item #contact > .sub-section-main .contact-items .contact-detail .contact-detail-text a {
  font-size: 1.8em;
}
#contact > .sub-section-main .contact-form {
  width: 70%;
  height: 650px;
  background-color: #f8fafa;
  z-index: 8;
  text-align: center;
  border: 2px solid #ebeff3;
  padding-top: 6rem;
}
#contact > .sub-section-main .contact-form h1 {
  font-size: 3em;
  color: #0d6efd;
}
#contact > .sub-section-main .contact-form h2 {
  font-size: 5em;
  font-weight: 500;
}
#contact > .sub-section-main .contact-form p, #contact > .sub-section-main .contact-form .footer-items .footer-single-item a, .footer-items .footer-single-item #contact > .sub-section-main .contact-form a {
  font-size: 2.2em;
}
#contact > .sub-section-main .contact-form form {
  width: 80%;
  padding-top: 6rem;
  margin: 0 auto;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}
#contact > .sub-section-main .contact-form form input[type=text], #contact > .sub-section-main .contact-form form input[type=email] {
  width: 19vw;
  height: 7rem;
  border-radius: 50px;
  border: 2px solid #ebeff3;
  padding-left: 15px;
  font-size: 2.4em;
}
#contact > .sub-section-main .contact-form form input::-moz-placeholder {
  padding-left: 15px;
}
#contact > .sub-section-main .contact-form form input:-ms-input-placeholder {
  padding-left: 15px;
}
#contact > .sub-section-main .contact-form form input::placeholder {
  padding-left: 15px;
}
#contact > .sub-section-main .contact-form form textarea {
  width: 41vw;
  grid-column: 1/-1;
  border-radius: 15px;
  border: 2px solid #ebeff3;
  padding-left: 15px;
}
#contact > .sub-section-main .contact-form form input[type=submit] {
  grid-column: 1/-1;
  width: 230px;
  height: 6rem;
  margin: 0 auto;
  font-size: 2em;
  border-radius: 50px;
  background-color: #0d6efd;
  color: #fff;
  border: 2px solid #0d6efd;
  cursor: pointer;
}
#contact > .sub-section-main .contact-form form input[type=text]:hover, #contact > .sub-section-main .contact-form form input[type=email]:hover, #contact > .sub-section-main .contact-form form textarea:hover {
  border: 2px solid #0d6efd;
  transition: 0.8s ease;
}
#contact > .sub-section-main .contact-form form input[type=text]:focus, #contact > .sub-section-main .contact-form form input[type=email]:focus, #contact > .sub-section-main .contact-form form textarea:focus {
  border: 2px solid #0d6efd;
}

footer > .sub-section-main {
  height: 40vh;
}

.footer-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: space-between;
}
.footer-items .footer-single-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
  height: 100%;
  margin: 0 auto;
}
.footer-items .footer-single-item p a, .footer-items .footer-single-item a a {
  font-size: 1em;
}
.footer-items .footer-single-item h1 {
  font-size: 3em;
}
.footer-items .footer-single-item p, .footer-items .footer-single-item a {
  font-size: 2.5em;
}
.footer-items .footer-single-item img {
  width: 10vw;
}
.footer-items .footer-single-item a {
  text-decoration: none;
  color: unset;
}
.footer-items .footer-single-item a:hover {
  color: #0d6efd;
  transition: 0.5s ease;
}
.footer-items .footer-single-item input {
  width: 15vw;
  height: 5rem;
  padding-left: 2rem;
  border-radius: 10px;
  border: 2px solid #ebeff3;
}

#testimonials {
  height: 100vh;
}

.testimonials-items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(600px, 1fr));
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.testimonials-items .testimonials-single-item {
  width: 750px;
  height: 300px;
  display: none;
  padding-top: 5rem;
  border-radius: 10px;
  position: relative;
  border: 2px solid #ebeff3;
}
.testimonials-items .testimonials-single-item .text {
  width: 85%;
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  justify-content: baseline;
  margin: 0 30px;
}
.testimonials-items .testimonials-single-item .text p, .testimonials-items .testimonials-single-item .text .footer-items .footer-single-item a, .footer-items .footer-single-item .testimonials-items .testimonials-single-item .text a {
  grid-column: 1/-1;
  font-size: 2.4em;
  padding: 20px 0 50px 0;
}
.testimonials-items .testimonials-single-item .text img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.testimonials-items .testimonials-single-item .text .name-author {
  padding-left: 20px;
  align-items: center;
  margin-top: 15px;
}
.testimonials-items .testimonials-single-item .text .name-author h1 {
  font-size: 2.7em;
}
.testimonials-items .testimonials-single-item .text .name-author p, .testimonials-items .testimonials-single-item .text .name-author .footer-items .footer-single-item a, .footer-items .footer-single-item .testimonials-items .testimonials-single-item .text .name-author a {
  padding: 0 0;
}
.testimonials-items .testimonials-single-item:nth-of-type(1), .testimonials-items .testimonials-single-item:nth-of-type(2) {
  display: block;
}

.page-nav {
  width: 200px;
  height: 50px;
  margin: 30px auto;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.page-nav .page-nav-item {
  width: 20px;
  height: 8px;
  border-radius: 5px;
  background-color: #ebeff3;
}
.page-nav .page-nav-item:hover {
  width: 30px;
  background-color: #0d6efd;
  transition: 0.8s ease-in-out;
}

@media (min-width: 768px) {
  .page-nav-item:nth-of-type(4), .page-nav-item:nth-of-type(5) {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */