$base-color-blue: #0d6efd;
$base-color-white: #fff;
$base-color-light: #ebeff3;
$base-color-dark: #212529;

@mixin hoverEffect{
    background-color: $base-color-blue;
    color: $base-color-white;
    transition: 1s ease-in-out;
}

@mixin priceOffer($listAmount){
    
    @for $val from 1 through $listAmount{
        .card-element:nth-of-type((#{$listAmount} - 1)) > i:nth-of-type(#{$val}){
            color: $base-color-blue;
        }
    }
}

// The service section of the page 
#services{
    height: 120vh;
}
.services-content{
    width: 90%;
    height: 40%; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px,1fr));
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .card{
        width: 430px;
        height: 300px;
        border: 2px solid var(--base-color-light);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding: 3rem 0 3rem 3rem;

        .card-icon{
            width: 80px;
            height: 80px;
            border: 2px solid var(--base-color-blue);
            border-radius: 60%;
            text-align: center;
            padding-top: 1.5rem;
            font-size: 5em;
            color: var(--base-color-blue);
        }
        .card-title{
            font-size: 3em;
            font-weight: 450;
        }
        .card-detail{
            font-size: 2.3em;
        }
    }
    .card:hover{
        transform: scale(1.01, 1.01);
        transition: 1s ease;
        .card-icon{
            background-color: var(--base-color-blue);
            color: var(--base-color-white);
        }   

    }
}
// end of the service section

// the latest news and blog part
.latest-news-items{
    width: 100%;
    height: 80vh; 
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(100px,1fr));
    align-items: center;
    justify-content: center;
.news-single-item{
    position: relative;
    width: 26vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    }
.news-small-item{
    width: 45%;
    height: 5rem;
    background-color: var(--base-color-light);
    border-radius: 50px;
    position: absolute;
    left: 24rem;
    bottom: 20rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 1.5rem;
    background-color: $base-color-blue;
    color: $base-color-white;
   
    img{
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
    }
    h6{
        font-size: 1.5em;
    }
}
h2{
    font-size: 3.1em;
    font-weight: 500;
}
p{
    font-size: 2.1em;
    color: #696a6b;
}
}
}

.latest-news-items .news-single-item:hover{
    img{
        transform: scale(1.03);
        transition: 1s transform ease-in-out ;
    }
    h2{
        color: $base-color-blue;
    }
}

// end of the news and blog part

//Team hover effect part

.team-single-item-text{
    .team-social{
        display: none;
        color: $base-color-dark;
    }
    .team-social i:hover{
        color: $base-color-blue;
    }
}
.team-single-item-text:hover{
    @include hoverEffect();
    .team-social{
        display: block;
        transition: 2s display ease-in-out;
    }
}

//Team hover effect part end


// Pricing and Plans part
#pricing{
    height: 120vh;
    background-color: $base-color-light;
}
.pricing-single-part{
    width: 100%;
    height: 80vh; 
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(100px,1fr));
    align-items: center;
    justify-content: center;
    padding: 1 0 0 0;
}
.pricing-card{
    width: 25vw;
    height: 70vh;
    background-color: $base-color-white;
    display: flex;
    flex-direction: column;
    gap: 7rem; 
    align-items: center;
    padding-top: 6rem;
    border-radius: 5px;
    button{
        color: $base-color-blue;
        font-size: 2em;
        height: 4.5rem;
        background-color: $base-color-white;
    }
button:nth-of-type(1){
    @extend button;
    width: 15rem;
    border: 2px solid $base-color-blue;
    border-radius: 50px;
}
button:nth-of-type(2){
    @extend button;
    width: 30rem;
    border: 1px solid $base-color-blue;
    border-radius: 5px;
}
p{
    font-size: 2em;
    text-align: center;
    color: #696a6b;
}
.price{
    p{
        display: inline;
    }
   p:nth-of-type(2){

    font-size: 5em;
    font-weight: 500;
    color: $base-color-dark;
   }
}
.card-element{
    width: 80%;
   display: flex;
   flex-direction: column;
   align-items: unset;
   color: #696a6b;
   div{
    font-size: 2em;
    padding-top: 1rem;
   }
}
.card-element:nth-of-type(1){
    @include priceOffer(2);
    }
    .card-element:nth-of-type(2){
        @include priceOffer(3);
        }
        .card-element:nth-of-type(3){
            @include priceOffer(4);
            }
    
    
}
.pricing-card:hover{
    box-shadow: 2px $base-color-light;
}
.pricing-card button:hover{
    @include hoverEffect();   
}
.pricing-card button:active{
    @include hoverEffect();
}
// End of the pricing part 

// the contact part of the page

#contact > .sub-section-main{
    height: 60vh;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    margin-top: 10rem;
    padding-top: 10rem;
   
    .contact-items{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    .contact-detail:hover{
        transform: scale(1.03, 1.03);
        transition: .8s ease;
    }
    .contact-detail{
        width: 90%;
        height: 120px;
        border: 2px solid $base-color-light;
        border-radius: 15px;
        display: flex;
        gap: 4rem;
        flex-wrap: nowrap;
        align-items: center;
        padding-left: 3rem;
        margin-bottom: 2rem;
        .contact-detail-icon{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $base-color-blue;
            text-align: center;
            padding: 11px;
            font-size: 3.5em;
            color: $base-color-white;
        }
        .contact-detail-text{
            h1{
                color: $base-color-blue;
                font-size: 3em;
                padding: 1rem 0;
            }
            p{
                font-size: 1.8em;
            }
        }
    }
    }
    .contact-form{
        width: 70%;
        height: 650px; 
        background-color: #f8fafa;
        z-index: 8;
        text-align: center;
        border: 2px solid $base-color-light;
        padding-top: 6rem;
        h1{
            font-size: 3em;
            color: $base-color-blue;
        }
        h2{
            font-size: 5em;
            font-weight: 500;
        }
        p{
            font-size: 2.2em;
        }
        form{
            width: 80%;
            padding-top: 6rem;
            margin: 0 auto;
            display: grid;
            gap: 2.5rem;
            
            grid-template-columns: repeat(2, minmax(200px,1fr));
            input[type="text"],  input[type="email"]{
                width: 19vw;
                height: 7rem;
                border-radius: 50px;
                border: 2px solid $base-color-light;
                padding-left: 15px;
                font-size: 2.4em;
            }
            input::placeholder{
                padding-left: 15px;
                // font-size: 1.4em;
            }
            textarea{
                width: 41vw;
                grid-column: 1 /-1;
                border-radius: 15px;
                border: 2px solid $base-color-light;
                padding-left: 15px;
            }
            input[type="submit"]{
                grid-column: 1 / -1;
                width: 230px;
                height: 6rem;
                margin: 0 auto;
                font-size: 2em;
                border-radius: 50px;
                background-color: $base-color-blue;
                color: $base-color-white;
                border: 2px solid $base-color-blue;
                cursor: pointer;
            }
            input[type="text"]:hover,  input[type="email"]:hover, textarea:hover{
                border: 2px solid $base-color-blue;
                transition: .8s ease;
            }

            input[type="text"]:focus,  input[type="email"]:focus, textarea:focus{
                border: 2px solid $base-color-blue;
                
            }
            
        }
    }
}

// End the contact part of the page

// the footer part of the page

footer > .sub-section-main{
    height: 40vh;
}
.footer-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    // gap: 5%;
    justify-content: space-between;
    // flex-wrap: nowrap;

    .footer-single-item{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
        // width: fit-content;
        height: 100%;
        margin: 0 auto;
        p{
            a{
                font-size: 1em;
            }
        }
        h1{
            font-size: 3em;
        }
        p{
            font-size: 2.5em;
        }
        img{
            width: 10vw;
        }
        a{
            @extend p;
            text-decoration: none;
            color: unset;
        }
        a:hover{
            color: $base-color-blue;
            transition: .5s ease;
        }
        input{
            width: 15vw;
            height: 5rem;
            padding-left: 2rem;
            border-radius: 10px;
            border: 2px solid $base-color-light;
        }
    }
}

#testimonials{
    height: 100vh;

}
.testimonials-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(600px,1fr));
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    .testimonials-single-item{
        width: 750px;
        height: 300px;
        display:none;
        padding-top: 5rem;
        border-radius: 10px;
        position: relative;
        border: 2px solid $base-color-light;
    .text{
        width: 85%;
        display: grid;
        grid-template-columns: min-content auto;
        justify-content: baseline;
        margin: 0 30px;
        p{
            grid-column: 1 / -1;
            font-size: 2.4em;
            padding: 20px 0 50px 0;
        }
        img{
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }
        .name-author{
            padding-left: 20px;
            align-items: center;
            margin-top: 15px;

            h1{
                font-size: 2.7em;
            }
            p{
                padding: 0 0;
            }
        }
    }

    }
    .testimonials-single-item:nth-of-type(1), .testimonials-single-item:nth-of-type(2){
        display: block;

    }
}

.page-nav{
    width: 200px;
    height: 50px;
    margin: 30px auto;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    .page-nav-item{
        width: 20px;
        height: 8px;
        border-radius: 5px; 
        background-color: $base-color-light;
    }
    .page-nav-item:hover{
        width: 30px;
        background-color: $base-color-blue;
        transition: .8s ease-in-out;
    }
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet){

    .page-nav-item:nth-of-type(4), .page-nav-item:nth-of-type(5){
        display: none;
    }
    
}